<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tutu.Cira-</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.565368166999-c8mpppcpess1k115s219njn4mfslf3mb</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>GIDClientID</key>
	<string>565368166999-c8mpppcpess1k115s219njn4mfslf3mb.apps.googleusercontent.com</string>
</dict>
</plist>
